* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #696969;
  color: #000000;
  font-size: 1.5rem;
}


/* media query */
@media screen and (max-width: 480px) {
  body {
    font-size: 1.2rem;
  }
}